<footer>
    <h3> &copy; MAKERSPACE LLC</h3>

    <nav class = "footerInfo">
        <ul>
            <li><a href = "/main/about">ABOUT</a></li>
            <li><a href = "/main/contact">CONTACT</a></li>
        </ul>
    </nav>
</footer>