<%- include('partials/header.ejs') %>

<body>

    <main>
        <h2><strong>Welcome to the MAKERSPACE LLC website</strong></h2>
        <p>Plenty of design opportunities for new and old designers alike! Please see our events page or request a new event!</p>
    </main>

</body>
    
<%- include('partials/footer.ejs') %>