<%- include('../partials/header.ejs') %>

<body>

    <main>
        <h2><strong>Welcome to the MAKERSPACE LLC website</strong></h2>
        <p>We are a design company that facilitates teaching and building with new softwares and products</p>
    </main>

</body>
    
<%- include('../partials/footer.ejs') %>