<%- include('../partials/header.ejs') %>

<body>

    <main>
        <h2><strong>Welcome to the MAKERSPACE LLC website</strong></h2>
        <p>Please contact us here below</p>
    </main>

</body>
    
<%- include('../partials/footer.ejs') %>